@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700');

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0px;
}

.bgGames {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #262626;
}

#particles-js
{
	height: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(../img/cool-background.png);
	background-size: cover;
	background-position: center;
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 400px;
	transform-style: preserve-3d;
	perspective: 600px;
	transition: 0.5s;

}

.card .front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-image: url(../img/bg3.png);
	background-size: cover;
	transform: rotateX(0deg);
	transition: 0.5s;

}

.card:hover .front{
	transform: rotateX(-180deg);
}

.card .back{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/bg2.png);
	background-size: cover;
	backface-visibility: hidden;
	transform: rotateX(180deg);
	transition: 0.5s;

}

.card .back:before {
	content: '';
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%
	background: rgba(255,255,255,0.1);
}

.card:hover .back{
	transform: rotateX(0deg);
}

.card .back .details {
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	text-align: center;;
	padding: 20px;
	box-sizing: border-box;

}

.card .back .details h2 {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	font-size: 24px;
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;

}

.card .back .details h2 span {
	color: #a7a7a7;
	font-size: 16px;

}

.social-icons {
	padding: 10px 0;
}

.social-icons a {
	display: inline-block;
	width: 36px;
	height: 36px;
	text-align: center;
	background: #262626;
	color: #fff;
	text-decoration: none;
	border-radius: 50%;
	transition: 0.5s;

}

.social-icons a .fa {
	line-height: 36px;

}

.social-icons a:hover {
	background: #e91e63;
}

footer {
  bottom: 0;
  display: inline-block;
  height: 4.4em;
  left: 50%;
  min-width: 35em;
  padding: 0 10px;
  perspective: 1000px;
  position: fixed;
  text-align: center;
  transform: translatex(-50%);
}
footer:before {
  background: linear-gradient(to top, #e6e6e6 0%, #a3a3a3 100%);
  bottom: 0;
  content: '';
  height: 4em;
  left: 0;
  margin-top: 15px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotatex(45deg);
  width: 100%;
  z-index: -1;
}

footer ul {
  display: inline-block;
  margin: 0 0.1em;
  padding: 0;
  transform-origin: bottom center !important;
}

footer li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  transform: scale(1);
  transform-origin: bottom center;
  transition: transform 2s;
}
footer li:before {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  color: #fff;
  content: attr(data-title);
  display: block;
  float: left;
  font-size: 0.9em;
  left: 50%;
  margin: 2px auto;
  opacity: 0;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: -35px;
  transform: translatex(-50%);
  transform-origin: bottom center !important;
  visibility: hidden;
  width: auto;
}
footer li:hover:before {
  opacity: 1;
  top: -45px;
  visibility: visible;
}

.jump {
  -webkit-animation: JUMP 600ms 2 cubic-bezier(0.4, 0.01, 0.6, 0.99);
}

footer img {
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(230, 230, 230, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0 5px;
  position: relative;
  transform: scale(1);
  transform-origin: bottom center !important;
  transition: all 0.2s;
  width: 4em;
}
footer img:hover {
  margin: 0 10px;
  transform: scale(1.2);
}

@-webkit-keyframes JUMP {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
    padding-bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}
